form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 400px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
textarea {
  height: 30px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

select {
  height: 35px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}

.delete-button {
  background-color: #0080ff;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.delete-button:hover {
  background-color: #0066cc;
}

.update-button {
  background-color: #0080ff;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.update-button:hover {
  background-color: #0066cc;
}


