/*  styles */

body {
    background-color: #F7FAFC;
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2D3748;
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: whitesmoke;
  }
  
  h3 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    color: #718096;
  }
  
  h4 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #2D3748;
  }
  
  p {
    margin-bottom: 0.5rem;
    color: #4A5568;
  }
 
  

  
  /* Job listing styles */
  
  .job-listing {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .job-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #2D3748;
  }
  
  .job-company {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #718096;
  }
  
  .job-location {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #718096;
  }
  
  .job-description {
    margin-bottom: 0.5rem;
    color: #4A5568;
  }
  
  .job-salary {
    font-weight: bold;
    color: #1A202C;
  }
  
 
  input[type="text"] {
    padding: 9px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 40px;
    margin-bottom: 15px;
    width: 40%;
    box-sizing: border-box;
    height: 100px; 
 
  }
  
  input[type="text"]:focus {
    border-color: #0080ff;
    outline: none;
  }



  /* CSS for filter group */
  .filter-group {
    display: inline-block;
    margin: 0 10px;
    width: 300px; /* change to your desired width */
  }
  
  
  .filter-group select {
    padding: 5px;
  }
  
  .filter-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .filter-group select:focus {
    outline: none;
    border-color: #0080ff;
    box-shadow: 0 0 5px #0080ff;
  }
  

  .filter-button {
    background-color: #ffd086;
    color: #2d3748;
    padding: 10px 20px;
    border: groove;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
  }
  
  
  .filter-button:hover {
    background-color: #0062cc;
  }
  

  .apply-button {
    background-color: #0080ff;
    border: none;
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .apply-button:hover {
    background-color: #0066cc;
  }
  
/* Login form styles */

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 400px;
  }
  
  .login-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2D3748;
    text-align: center;
  }
  
  .login-input {
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  .login-input:focus {
    border-color: #0080ff;
    outline: none;
  }
  
  .login-button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem 1.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .login-button:hover {
    background-color: #0062cc;
  }
  .login-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-popup-inner {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  
  .close-popup-button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  
  }
  


  .forgot-password-link {
    font-size: 16px;
    margin-top: 10px;
    background-color: #F7FAFC ;
  }
  
  .forgot-password-link a {
    color: #007bff;
    text-decoration: none;
    background-color: #F7FAFC ;
  }
  
  .forgot-password-link a:hover {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
    background-color: #F7FAFC ;
  }
  

  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  

.form-group input {
  width: 120%;
  padding: 14px;
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: 16px;
    outline: none;
}
  
.form-group label {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 6px;
  }
  

  .form-container input {
    width: 50%;
    padding: 14px;
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: 16px;
    outline: none;
  }
  
  .form-container label {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 6px;
  }

  
  .login-register-link {
    font-size: 16px;
    margin-top: 10px;
    background-color: #F7FAFC ;
   
  }

    
  .login-register-link a {
    color: #007bff;
    text-decoration: none;
    background-color: #F7FAFC ;
  }

  
  .login-register-link a:hover {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
    background-color: #F7FAFC ;
  }

  
  
  .register-login-link {
    font-size: 16px;
    margin-top: 10px;
    background-color: #F7FAFC ;
   
  }

    
  .register-login-link a {
    color: #007bff;
    text-decoration: none;
    background-color: #F7FAFC ;
  }

  
  .register-login-link a:hover {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
    background-color: #F7FAFC ;
  }

  .file-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .file-input label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    width: 100px;
  }
  
  .file-input input[type="file"] {
    display: none;
  }
  
  .file-input .button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .file-input .button:hover {
    background-color: #0062cc;
  }

  .avatar-frame {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
  }
  
  .avatar-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .login-link {
    color: #007bff;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: #F7FAFC !important;
  }
  
  .login-link a {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
   
  }
  
  .login-link a:hover {
    color: #0056b3 ;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .profile-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .profile-header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  .profile-header h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  .profile-body {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-body h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .profile-body p {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  
 