<h1><i class="fab fa-affiliatetheme"></i>Contact Us</h1>
<br/><br/>
<div class="row justify content-lg-center g-3"></div>
<form class="col-lg-6 col-md-10 col-sm-10">
  <div class="input-group mb-3">
    <span class="input-group-text">Email address</span>
    <input type="email" name="emailAddress" class="form-control" id="emailAddress" 
    aria-label = "Email Address" aria-describedby="Email Address Input" required>
    
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Full Name</span>
    <input type="text" name="fullName" class="form-control" id="fullName" 
    aria-label = "Name" aria-describedby="Full Name Input" required>
   
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Contact Number</span>
    <input type="tel" name="contactNumber" class="form-control" id="contactNumber" 
    aria-label = "Contact Number" aria-describedby="Contact Number Input" required>

  </div>
  
  <div class="input-group mb-3">
  <span class="input-group-text">Your message</span>
  <textarea id = "message" class="form-control" name = "message" aria-label="Message Area"></textarea>
  </div>


  <button id ="sendButton" type="submit" class="btn btn-primary"> <a href="index.html" ></a><i class="fas fa-envelope fa-lg"></i>Send</button>
    <button id ="cancelButton" type="reset" class="btn btn-warning"><i class="fas fa-undo fa-lg"></i>Cancel</button>
  </form>
</form>
<br/>
<div class="col-lg-4 col-md-4"><a href="/contact-list" class="btn btn-primary btn-lg"><i class = "fas fa-users fa-lg"></i>Show Contact List</a></div>


</div>